<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Settup_Xamarin_for_Android.Settup_Xamarin_for_Android" android:versionCode="1" android:versionName="1.0">
	<uses-sdk />
	<application android:label="Settup-Xamarin-for-Android" android:icon="@drawable/Icon"></application>
</manifest>