@model IEnumerable<StamatShop.Web.ViewModels.ProductViewModel>

<div class="row">
    @foreach (var prod in @Model)
    {
        <div class="col-md-4">
            <h2>@prod.Name</h2>
            <p>@prod.Description</p>
            <p>@Html.ActionLink("Learn more »", "Details", "Product", new { id = prod.Id }, new { })</p>
        </div>
    }
</div>